@model AspnetIdentitySample.Models.ToDo

@{
    ViewBag.Title = "Edit";
}

<h2 style="margin-top: 5%; color: #C71585"> Edit: </h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group" style="width: 100%;">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.IsDone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDone)
                @Html.ValidationMessageFor(model => model.IsDone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="background-color: #C71585; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%;" type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
